h1, h2, h3 {
  text-align: center;
}

.section-name{
  padding: 25px 0;
  font-size: 3rem;
}

.race-features{
  text-align: left;
  text-indent: 50px;
}

p{
  font-size: 1.2rem;
  color: black;
  text-indent: 50px;
  text-align: left;
  font-style: italic;
  font-family: cursive;
}

body {
  background-image:  linear-gradient(
  to left top,
  rgba(25, 25, 112, 0.9),
  rgba(250, 215, 0, 0.5),
  rgba(139, 0, 0, 0.9)),
  url(" ../img/bgmap.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flex{
  text-align: center;
  padding: 5%;
  margin: -15px -100px;
  background-color: rgba(200, 200, 200, 0.7);
}

.overflow-x-auto{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.classes{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

. master-guid-link{
  grid-column: 1 / 2;
  grid-row: 1;
}

.player-guid-link{
  grid-column: 2 / 2;
  grid-row: 1;
}

.chapter-image{
  text-align: center;
  padding: 15px 15px;
  max-width: 650px;
  height: 650px;
  object-fit: scale-down;
  filter: drop-shadow(20px 20px 10px black);
}

.section-image{
  text-align: bottom;
  padding: 15px 5px;
  max-width: 500px;
  height: 400px;
  object-fit: scale-down;
  filter: drop-shadow(20px 20px 10px black);
}

.description {
  padding: 1% 5% ; overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.subrace{
  display:inline-block;
  padding: 10px 25px;
}

.info-chapter{
  padding: 20px 5px
}

.spelltext {
  text-align: start;
  padding: 20px 5px
}


