h1, h2, h3 {
  text-align: center;
}

h6{  padding: 0px 30px;
line-height: 25px;
}

.section-name{
  padding: 25px 0;
  font-size: 3rem;
}

.race-features{
  text-align: left;
  text-indent: 50px;
}

.class-img {
  float: left;}

.class-text{
  text-align: justify;
}

p{
  white-space: pre-line;
  font-size: 1.2rem;
  color: black;
  text-indent: 25px;
  text-align: justify;
  font-style: italic;
  font-family: cursive;
}

body {
  background-image:  linear-gradient(
  to left top,
  rgba(25, 25, 112, 0.9),
  rgba(250, 215, 0, 0.5),
  rgba(139, 0, 0, 0.9)),
  url(" ../img/bgmap.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flex{
  text-align: center;
  padding: 5%;
  margin: -15px -100px;
  background-color: rgba(200, 200, 200, 0.7);
}

.overflow-x-auto{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.classes{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

. master-guid-link{
  grid-column: 1 / 2;
  grid-row: 1;
}

.player-guid-link{
  grid-column: 2 / 2;
  grid-row: 1;
}

.chapter-image{
  text-align: center;
  padding: 15px 15px;
  max-width: 650px;
  height: 650px;
  object-fit: scale-down;
  filter: drop-shadow(20px 20px 10px black);
}

.section-image{
  text-align: bottom;
  padding: 15px 5px;
  max-width: 500px;
  height: 400px;
  object-fit: scale-down;
  filter: drop-shadow(20px 20px 10px black);
}

.description {
  padding: 1% 5% ; overflow: hidden;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.subrace{
  display:inline-block;
  padding: 10px 25px;
}

.info-chapter{
  padding: 20px 5px
}

.spelltext {
  text-align: start;
  padding: 20px 5px
}

label{
  font-size: 1.25rem;
  color: black;
  font-style: italic;
  font-family: cursive;
  padding: 0.75em 0em 0em 0em;
}

input{
  padding: 200px 5px
}

.class-spells{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.spell-block{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.spell_name{
display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cc6600;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.spell_description{
  border: 1px solid #cc6600;
  padding: 0.5rem 1rem;
  vertical-align: middle;
}

.spell-p{
  font-size: 1.1rem;
  text-indent: 5px;
}

#id_chr_name{
  height: 2.1rem;
  width: 250px;
  margin: 0.8rem 1rem;

}

textarea{
  background-color: rgba(250, 250, 250, 0.4);
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 1rem;
  font-style: italic;
  font-family: cursive;
  resize: none;
  width: 90%;
  padding: 0% 1% 0% 3%
}


.chr_name{
  display: flex;
}

select{
  border-radius: 10px;
  width: 250px;
  text-align: center;
  font-style: italic;
  font-family: cursive;
  font-size: 1.1rem;
  margin: 8px;
  cursor: pointer;
  color: var(--baseFg);
  padding: 0.5em 0.75em;
  background-color: rgba(250, 250, 250, 0.3);
  }

#id_chr_level{
  width: auto;
}

#id_sex{
  width: auto;
}

#dice_val{
  display: inline;
  font-size: 1.3rem;
  color: black;
  text-indent: 25px;
  text-align: justify;
  font-style: italic;
  font-family: cursive;
  padding: 0.4em 0.6em;
  border: 3px dashed #cc6600;
  margin: 0em 0.5em;
}

.dice_val_div{
  padding: 1em;
}

#id_strength, #id_dexterity, #id_constitution, #id_intelligence, #id_wisdom, #id_charisma {
  text-align: center;
  height:40px;
  width:40px;
  padding: 0;
  margin: 10px 5px 0px 5px;
}

option{
  background-color: #CCC8C2;
  border: 10px;
  border-style: dashed solid;
  text-align: left;
}



.spells-popup{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.popup {
  width: 50%;
  text-align: left;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.popuptext {
  visibility: hidden;
  width: 900px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 50px;
  margin-left: 80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


