{% extends 'base.html' %}

{% block title %}Site{% endblock %}

{% block content %}
{% load static %}

<div class="2xl:container 2xl:mx-auto sm:py-5 sm:px-1 py-5 px-1">
  <div class="flex items-center justify-between px-6 py-3">
    <h2 class="section-name text-gray"> Заклинання {{ name }}ів </h2>
    <h4>{% if cantrips %} Заклинання 0-го рівня {% endif %}</h4>
    {% for spell in cantrips %}
    <div class="spell-block">
      <div class="spell_name">
        <h5>{{ spell.name }}</h5>
      </div>
      <div class="spell_description">
        <p class="spell-p">{{ spell.description }}</p>
      </div>
    </div>
    {% endfor %}
    
    <h4>{% if first %} Заклинання 1-го рівня {% endif %}</h4>
    {% for spell in first %}
    <div class="spell-block">
      <div class="spell_name">
        <h5>{{ spell.name }}</h5>
      </div>
      <div class="spell_description">
        <p class="spell-p">{{ spell.description }}</p>
      </div>
    </div>
    {% endfor %}
  
  
  </div>
</div>

{% endblock %}