{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="col-lg-4 offset-lg-4 content-block">
  <h2 class="title" style="text-align: center;">Login</h2>
  {% if error_message %}
    <p style="text-align: center;">{{ error_message }}</p>
  {% endif %}
  <form method="post" style="text-align: center;">
    {% csrf_token %}
    <label>Email:</label>
    <input class="form-control" type="text" name="email" required><br>

    <label>Password:</label>
    <input class="form-control" type="password" name="password" required><br>

    <input class="button" type="submit" value="Login">
  </form>
</div>
{% endblock %}