{% extends 'base.html' %}

{% block title %}Charactermaker{% endblock %}

{% block content %}
{% load static %}

<div class="2xl:container 2xl:mx-auto sm:py-5 sm:px-1 py-5 px-1">
  <div class="flex items-center justify-between px-6 py-3">
    <h2 class="section-name text-gray"> Виберіть расу та клас </h2>


    <form method="post">
      {% csrf_token %}
      <div class="overflow-x-auto">
        <div class="maker">
          <div class="overflow-x-auto">
            <div>
              <h3> Раса </h3>
              {{ form.chr_race }}
            </div>
            <div>
              <h3> Клас </h3>
              {{ form.chr_class }}
            </div>

          </div>
          <hr>
          <div>
            {{ form.chr_level.label_tag }}
            {{ form.chr_level }}
            <br>
            {{ form.alignment.label_tag }}
            {{ form.alignment }}
            <br>
            {{ form.backgrounds.label_tag }}
            {{ form.backgrounds }}

            <br>
            <hr>
            <div>

              <h3>Куби</h3>
              <div class="dice_val_div">
                {% for d in dice %}
                <p id="dice_val">{{d}}</p>
                {% endfor %}

              </div>
              <div class="overflow-x-auto">
                {{ form.strength.label_tag }}
                {{ form.strength }}
                {{ form.dexterity.label_tag }}
                {{ form.dexterity }}
                {{ form.constitution.label_tag }}
                {{ form.constitution }}
                {{ form.intelligence.label_tag }}
                {{ form.intelligence }}
                {{ form.wisdom.label_tag }}
                {{ form.wisdom }}
                {{ form.charisma.label_tag }}
                {{ form.charisma }}
              </div>
              * впишіть згенеровані значення на ваш розсуд або свої

            </div>

          </div>
        </div>
        <div class="maker">
          <h3>Опис персонажа</h3>

          <div class="chr_name">
            <p>{{ form.chr_name.label_tag }}</p>
            {{ form.chr_name }}

            <p>{{ form.sex.label_tag }}</p>
            {{ form.sex }}
          </div>
          <p>{{ form.appearance.label_tag }}</p>
          {{ form.appearance }}

          <p>{{ form.biography.label_tag }}</p>
          {{ form.biography }}
        </div>
      </div>
      <button type="submit" class="btn btn-secondary"> Вибрати</button>
    </form>

  </div>
</div>


{% endblock %}